


<div class="bg-white">
  <!-- url('/img/hero-pattern.svg') -->
  <div class="flex min-h-screen bg-white">
    <!--
    <div class="w-1/2 bg-cover md:block hidden" style=
    "background-image: url(https://images.unsplash.com/photo-1520243947988-b7b79f7873e9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fGJsYWNrJTIwZm9yZXN0fGVufDB8fDB8eWVsbG93&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60)">
    </div>
    -->
    <div class="w-1/2 bg-cover md:block hidden" style=
    "background-image: url(https://picsum.photos/id/1005/600/600)">
    </div>
    <!-- <div class="bg-no-repeat bg-right bg-cover max-w-max max-h-8 h-12 overflow-hidden">
                                                                                                            <img src="log_in.webp" alt="hey">
                                                                                                                                                        </div> -->
    <div class=
    "md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
      <div class="text-left p-0 font-sans">
        <h1 class="text-gray-800 text-3xl font-medium">Get a free book</h1>
        <h3 class="p-1 text-gray-700">Simply sign up to the newsletter.</h3>
      </div>
      <form method="post" action="/subscribe"  id="newsletter-form" class="p-0">
        <div class="mt-5">
          <!-- <label for="email" class="sc-bqyKva ePvcBv">Email</label> -->
          <input type="text" class=
          "block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
          name="email" placeholder="Email">
        </div>
        <div class="mt-5">
          <input type="text" class=
          "block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
          name="name" placeholder="Name">
        </div>
        <div class=
        "mt-6 block p-5 text-sm md:font-sans text-xs text-gray-800">
          <input id="newsletter-form-checkbox" type="checkbox" name="l" class="inline-block border-0" value="3e8859fd-4ea3-4b42-a7aa-ed75a3ad671c" >
          <span display="inline" class="">I agree to receive email updates </span>
        </div>
        <div class="mt-10">
          <input type="submit" value="Subscribe" class=
          "py-3 bg-green-500 text-white w-full rounded hover:bg-green-600">
        </div>
      </form>
    </div>
  </div>
</div>



{{ define "scripts_newsletter" }}
  <script>
    document.getElementById("newsletter-form").addEventListener("submit", function(event) {
          if(!document.getElementById("newsletter-form-checkbox").checked) event.preventDefault()
        })
    </script>
  {{ end }}

