<html>

  <head>


              {{ template "partials/meta" }}

  </head>
        <body>
            <div>
                    {{embed}}

                    {{ block "content_global" .}} {{ end }}
            </div>

                    {{ block "footer_global" .}} {{ end }}

                    {{ block "scripts_newsletter" .}} {{ end }}
        </body>
</html>
